<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= render 'shared/menu' %>
    </div>
    <div class="span10">
      <!--Body content-->
    </div>
  </div>
</div>