<div class="center hero-unit">
  <h1>Пример</h1>
  <h2>
    Это домашняя страница для Примера приложения
    <a href="http://ormus2002-test-m.heroku.app/">Пример</a>
    .
  </h2>

  <%= link_to "Зарегистрироваться!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>