<% provide(:title, 'Роли') %>

<h3>Роли</h3>
<div>
<table class="table table-hover">
  <thead><tr>
    <th>Наименование</th>
    <th></th>
  </tr></thead>
  <tbody>
  <% for role in @roles %>
      <tr>
        <td><%= link_to role.name, role %></td>
        <td>
          <% if role.builtin == 0 %>
            <p class="pull-right"><%= link_to 'Редактировать', edit_role_path(role) %>
              &nbsp;|&nbsp;
              <%= link_to "Удалить", role, method: :delete, data: { confirm: "Вы уверены, что хотите удалить #{role.name}?" } %>
            </p>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<p> <%= button_to "Новая роль", new_role_path, method: :get, class: "btn btn-large" %></p>