.flickr_pagination {
  text-align: center;
  margin: 2em; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.7em 1em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    border: 1px solid #dddddd;
    background: #f5f5f5;
    color: #aaaaaa;
    margin: -0.19em;
    font-style: normal }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #8788CC;
    text-decoration: none;
    margin: -0.18em; }
  .flickr_pagination a:hover, .flickr_pagination a:focus {
    background: #f5f5f5;
    color: #55559D; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page {
    border-radius: 3px 0 0 3px; }
  .flickr_pagination .next_page {
    border-radius: 0 3px 3px 0; }
  