<div class="navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container">
      <small>
        <a href="http://ormus2002-test-m.heroku.com">My Site</a>
        Ormus
      </small>
    </div>
  </div>
</div>
